/* CSS Reset */
* {
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

/* Body Main */

body {     
    background-image: url(golf-ball-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main-container {
    display: flex;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    color: white;
}

/* Typography */

h1 {
    color: white;
    font-size: 1.85em;
    padding: .5em;
}

h3 {
    font-size: 1.5em;
    padding: .5em;
    font-weight: 500;
}

h4 {
    margin-top: 1em;
    font-size: 1em;
}

p {
    padding: .5em;
}

li {
    color: white;
}

.main-title {
    font-weight: 900;
}

/* Nav */

nav {
    display: flex;
    margin: .5em;
}

li {
    list-style: none;
    padding: .5em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

/* Email Form */

.main-flex-container {
    padding: 1em;
    margin: .5em auto;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
}

input {
    margin: .5em auto;
    padding: .875em;
    border-radius: 5px;
    border-style: none;
}

/* Footer Etc */

.copyright-text {
    display: block;
    margin-top: 1em;
    padding: 1em;
    color: slategray;
    margin: auto;
    text-align: center;
}

/* Media Queries */

@media only screen and (max-width: 725px) {
    /* h1 {

    } */

    .main-container {
        flex-direction: column;
    }
}

/* Layout Borders */
/* 
.main-container {
    border: 2px solid yellow;
}

.main-flex-container {
    border: 1px solid red;
}

.main-intro-text {
    border: 1px solid slateblue;
} */