/* CSS Reset */
/* * {
    margin: 0;
} */

/* Body Main */

.main-container {
    display: flex;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    background-image: url(golf-ball-bg.jpg);
    background-size: cover;
    color: white;
    border: 1px solid green;
}

h1 {
    color: white;
    font-size: 1.85em;
}

h3 {
    font-size: 1.5em;
}

/* Email Form */

.main-flex-container {
    padding: 1em;
    margin: .5em auto;
    border: 1px solid red;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: .5em auto;
    padding: 1em;
    border-radius: 5px;
    border-radius: none;
}

/* Footer Etc */

.copyright-text {
    display: block;
    margin-top: 1em;
    padding: 1em;
    color: slategray;
    margin: auto;
    text-align: center;
}

/* Media Queries */